


header{
    height: 50px;
    /* background: bg_color bg_image bg_repeat bg_attachment bg_position; */
    background: #4ea0ff url("../html-css-booleaner/img/pattern.png") no-repeat 50% 30%;
    background-repeat: repeat-x;
    background-size:auto;
    
}

span{
    color: grey;
    border-top: 0px;
    margin-top: 0px;
    font-size: 20px;
}

.logo{
    height: 40px;
    margin-left: 5px;
}

.titolo{
    font-size: 40px;
    border-width: 0px;
    margin-bottom: 0px;
}

#coloresottotitolo{
    color: #20A9E5;
}

.data{
    font-size: 12px;
}

.Tim{
    margin-top: 30px;
}

.ref_img{
    color: black;
    font-size: 10px;
}

p{
    font-size: 20px;
}

.evidenziare{
     background-color: yellow;
     color: black;
}

.nomargin{
    font-size: 20px;
    margin:0;
    padding: 20px;
}



table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 30px;
    caption-side: top;
}

.colorethead{
    background-color: #20A9E5;
    border-color: #20A9E5;
    color: white;
}

.colortr{
    background-color: #B1E5F2;
}

.ultimacolonna{
    width: 50%;    
}

.box1{
    width: 300px;
    height: 200px;
    background: url("./img/monitor.jpg") no-repeat;
    color: white;
    font-size: 30px;
    margin-bottom: 5px;
    padding: 5px;
}

.box2{
    width: 300px;
    height: 200px;
    background: url("./img/graph.jpg") no-repeat;
    color: white;
    font-size: 30px;
    margin-bottom: 5px;
    padding: 5px;
}
